---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body class="w3-light-grey">
	<div class="w3-row w3-card-2 w3-section" style="background:url({{ '/assets/images/events/2016-androidstudyjam/bg_1.png' | prepend: site.baseurl }})">
		<div class="w3-col l3 m3 s3"> &nbsp </div> <!-- separator -->
		<div class="w3-col l6 m6 s6 w3-center w3-container w3-section">
			<img src="{{page.featured-image}}" style="width:100%">
		</div>
		<div class="w3-col l3 m3 s3"> &nbsp </div> <!-- separator -->
	</div>
	<div class="w3-row">
		<div class="w3-col l4 m4 w3-container"> <!-- Col 1 -->
			<div class="w3-row w3-section"> <!-- Register -->
				<a target="_blank" href="http://bit.ly/AndroidStudyJam2016" class="w3-btn-block w3-red w3-hover-pink w3-card-2 w3-xlarge"style="font-family: 'Raleway', sans-serif;">Register</a>
			</div> <!-- /Register -->
			<div class="w3-row w3-section"> <!-- Detail -->
				<div class="w3-card-2 w3-white">
					<header class="w3-container w3-green"><h3 style="font-family: 'Raleway', sans-serif;">Detail</h3></header>
					<div class="w3-container" >
						<div class="w3-row w3-section">
							<div class="w3-col" style="width:10%"><i class="fa fa-calendar"></i></div>
							<div class="w3-col" style="width:90%">19 - 20 Maret 2016</div>
						</div>
						<div class="w3-row w3-section">
							<div class="w3-col" style="width:10%"><i class="fa fa-clock-o"></i></div>
							<div class="w3-col" style="width:90%">09:00 - 17:00</div>
						</div>
						<div class="w3-row w3-section">
							<div class="w3-col" style="width:10%"><i class="fa fa-map-marker"></i></div>
							<div class="w3-col" style="width:90%">E401 @ Institut Sains Terapan dan Teknologi Surabaya</div>
						</div>
						<div class="w3-row w3-section" style="margin: 0 -16px;">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7915.128242109443!2d112.75578462680356!3d-7.290330407331601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fbb476048727%3A0x5f5f7cf736ae643e!2sInstitut+Sains+Terapan+dan+Teknologi+Surabaya!5e0!3m2!1sen!2ssg!4v1457797959270" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div> <!-- Detail -->
		</div> <!-- /Col 1 -->
		<div class="w3-col l4 m8 w3-container"> <!-- Col 2 -->
			<div class="w3-row w3-section">
				<div class="w3-card-2 w3-white">
					<header class="w3-container"><h2>Latest Updates</h2></header>
				</div>
			</div>
			<div class="w3-row w3-section"> <!-- News item -->
				<div class="w3-card-2 w3-white">
					<div class="w3-container">
						<h4>Pendaftaran Android Study Jam 2016 telat ditutup</h4>
					</div>
					<footer class="w3-container w3-light-grey w3-text-grey">
						<div class="w3-section">
							GDG Surabaya
							<p class="w3-right">14 Maret 2016</p>
						</div>
					</footer>
				</div>
			</div> <!-- /News item -->
			<div class="w3-row w3-section"> <!-- News item -->
				<div class="w3-card-2 w3-white">
					<div class="w3-container">
						<h4>Follow G+ GDG Surabaya: +GdgSurabayaOrg</h4>
					</div>
					<footer class="w3-container w3-light-grey w3-text-grey">
						<div class="w3-section">
							GDG Surabaya
							<p class="w3-right">14 Maret 2016</p>
						</div>
					</footer>
				</div>
			</div> <!-- /News item -->
			<div class="w3-row w3-section"> <!-- News item -->
				<div class="w3-card-2 w3-white">
					<div class="w3-container">
						<h4>Pendaftaran Android Study Jam dibuka</h4>
					</div>
					<footer class="w3-container w3-light-grey w3-text-grey">
						<div class="w3-section">
							GDG Surabaya
							<p class="w3-right">03 Maret 2016</p>
						</div>
					</footer>
				</div>
			</div> <!-- /News item -->
		</div> <!-- /Col 2-->
		<div class="w3-col l4 m8 w3-container w3-section"> <!-- Rundown -->
			<div class="w3-card-2 w3-white">
				<header class="w3-container w3-green"><h3 style="font-family: 'Raleway', sans-serif;">Rundown</h3></header>
					<div class="w3-container w3-section"> <!-- Rundown Day 1-->
						<b>Day 1 &amp 2 (19 - 20 Maret 2016)</b>
						<div class="w3-row w3-section">
							<div class="w3-col" style="width:40%">08.30 - 09.00</div>
							<div class="w3-col" style="width:60%">Registration</div>
						</div>
						<div class="w3-row w3-section">
							<div class="w3-col" style="width:40%">09.00 - 10.30</div>
							<div class="w3-col" style="width:60%">Session 1</div>
						</div>
						<div class="w3-row w3-section">
							<div class="w3-col" style="width:40%">10.30 - 10.45</div>
							<div class="w3-col" style="width:60%">Snack Time</div>
						</div>
						<div class="w3-row w3-section">
							<div class="w3-col" style="width:40%">10.45 - 12.15</div>
							<div class="w3-col" style="width:60%">Session 2</div>
						</div>
						<div class="w3-row w3-section">
							<div class="w3-col" style="width:40%">12.15 - 13.00</div>
							<div class="w3-col" style="width:60%">Lunch Break</div>
						</div>
						<div class="w3-row w3-section">
							<div class="w3-col" style="width:40%">13.00 - 14.30</div>
							<div class="w3-col" style="width:60%">Session 3</div>
						</div>
						<div class="w3-row w3-section">
							<div class="w3-col" style="width:40%">14.30 - 14.45</div>
							<div class="w3-col" style="width:60%">Snack Time</div>
						</div>
						<div class="w3-row w3-section">
							<div class="w3-col" style="width:40%">14.45 - 17.00</div>
							<div class="w3-col" style="width:60%">Session 4</div>
						</div>
					</div><!-- /Rundown Day 1-->
			</div>
		</div> <!-- Rundown -->
	</div>
	{% include footer_script.html %}
</body>
</html>