<div class="row" style="padding-bottom: 50px">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
        <object type="image/svg+xml" style="width: 90%" data="{{ '/assets/images/general/google_logo.svg' | prepend: site.baseurl }}">Your browser does not support SVG</object>
    </div>
    <div class="col-lg-4 text-center" style="padding-top: 10px; padding-bottom: 10px">
        <a href="https://www.facebook.com/GDGSurabaya" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
        <a href="https://twitter.com/gdgsurabaya" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
        <a href="https://plus.google.com/+GdgsurabayaOrg" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
    </div>
    <div class="col-lg-2">
        <img style="width: 100%" src="/assets/images/general/google_developer_logo.png"/>
    </div>
    <div class="col-lg-2"></div>
</div>